a, input, select, textarea {outline:none !important;
}
body { overflow-x:hidden;
}
.font {
	font-family: 'Open Sans', sans-serif;
	font-weight:400; /*Normal*/
	font-weight:600; /*Semi-Bold*/
	font-weight:700; /*Bold*/
	font-weight:800; /*Extra-Bold*/	
}
.header {
	padding:36px 0 21px 0;
	background:#fff;
	border-top:5px palegoldenrod solid;
}
.fleft {float:left;
}
.fright {float:right;
}
.clear {
	height:0;
	clear:both;
	font-size:0;
}
img {
	outline:0;
	vertical-align:top;
}
.logo {padding-bottom:6px;
}
.logo img {max-width:100%;
}

.follow_us {
	text-align:right;
	padding:3px 4px 9px 0;
}
.follow_us ul li {
	padding:0;
	margin:0 0 0 5px;
	display:inline-block;
	line-height:30px;
}
.follow_us a {
	background-image:url(../img/top_socials2.png);
	background-repeat:no-repeat;
	height:30px;
	width:30px;
	display:block;
	text-indent:-9999px;
	text-align:left;
}
.follow_us a.facebook {background-position:0 0;
}
.follow_us a.facebook:hover {background-position:0 -30px;
}
.follow_us a.twitter {background-position:-35px 0;
}
.follow_us a.twitter:hover {background-position:-35px -30px;
}
.follow_us a.instagram {background-position:-70px 0;
}
.follow_us a.instagram:hover {background-position:-70px -30px;
}

/*nav*/
#main_menu {
	position: relative;
	float:right;
}
.menu_wrap {
  padding-top: 10px;
  float:right;
}
.menu_wrap .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.menu_wrap .nav > li {
  padding: 0 0 0 25px;
  display:inline-block;
}
.menu_wrap .nav > li:first-child {
}
#main_menu select {
	display: none;
	font-family:Arial;
	font-size:12px;
}
.menu_wrap .nav li a {
  line-height:18px;
  color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  font-size:14px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  padding:0; 
  text-align:left;
}
.menu_wrap .nav > li.sfHover > a,
.menu_wrap .nav > li.sfHover > a:hover,
.menu_wrap .nav > li > a:hover,
.menu_wrap .nav > li.current > a,
.menu_wrap .nav > li.current > a:hover {
	color: #c5c5c5;
	background:none;
}
.sub-menu > a {position: relative;
}
.menu_wrap .nav > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: none;
  width: 7px;
  height: 4px;
  right: 50%;
  top: 51px;
  margin: 0 -3px 0 0;
}
.menu_wrap .nav > li.sfHover > a:before,
.menu_wrap .nav > li.sfHover > a:hover:before,
.menu_wrap .nav > li > a:hover:before,
.menu_wrap .nav > li.current > a:before,
.menu_wrap .nav > li.current > a:hover:before { background: url('../img/li-marker.png') left top no-repeat;
}
.menu_wrap .nav > li.current > a:before { background: none;
}
.menu_wrap .nav > li.current.sfHover > a:before { background: url('../img/li-marker.png') left top no-repeat;
}
.menu_wrap .nav ul {
  position: absolute;
  display: none;
  width: 133px;
  left: 0;
  top: 55px;
  list-style: none;
  zoom: 1;
  z-index: 25;
  background:#fff;
  border-top:4px goldenrod solid;
  padding: 14px 0 7px 0;
  margin: 0;
}

.menu_wrap .nav > li li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: none;
  width: 7px;
  height: 4px;
  right: 10px;
  top: 13px;
}
.menu_wrap .nav ul li a {
  display: block;
  text-transform: none;
  font-size: 12px;
  font-weight:400;
  color:#313131;
  line-height: 18px;
  padding: 0 10px 7px 15px;
  background: none;
}
.menu_wrap .nav ul li a span {display:none;
}
.menu_wrap .nav > li > ul li > a:hover,
.menu_wrap .nav > li > ul li.sfHover > a,
.menu_wrap .nav > li > ul li.current > a {
  text-decoration: none;
  color:goldenrod;
}
.menu_wrap .nav > li > ul li > a:hover:before,
.menu_wrap .nav > li > ul li.sfHover > a:before { background: none;  
}
.menu_wrap .nav ul ul {
  position: absolute;
  display: none;
  width: 133px;
  left: 133px;
  top: -6px;
  height: auto;
  list-style: none;
  z-index: 111;
  padding: 14px 0 7px 0;
  margin: 0;
  border-top:0;
}
.page_container {
	padding-bottom:25px;
	background:#FFF;
}
.separator {
}
.block {padding-bottom:50px;
}
#main_slider {padding-bottom:70px;	
}

h2.title {
	padding:0;
	margin:0 0 19px 0;
	line-height:28px;
	text-transform:uppercase;
	color:#313131;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
}
h2.title a {
	font-size:21px;
	color:#313131;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	text-transform:uppercase;
}
h2.title a:hover {
	color:goldenrod;
	text-decoration:none;
}
p.last {margin-bottom:15px;
}
.block [class*="span"] {margin-bottom:15px;
}
[class*="span"] img, [class*="span"] iframe {max-width:100%;
}
.grey {color:#9d9d9d;
}
.block ul.the-icons {
	margin-left:0;
	margin-bottom:5px;
}
.upper {text-transform:uppercase;
}
h2.upper {
	margin-bottom:12px;
	margin-top:0;
}
.hover_img {
	position:relative;
	background-color:#fff;
}
.hover_img img, .post_carousel img {border-radius:3px;
}

.post_carousel {
	padding-bottom:12px;
	color:#1e1e1e;
}
.post_carousel .title_t, .news_t {
	line-height:20px;
	padding:14px 0 5px 0;
	font-size:17px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:goldenrod;
}
.post_carousel .title_t a, .news_t a {
	font-size:17px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:goldenrod;
}
.post_carousel .title_t a:hover, .news_t a:hover {
	text-decoration:none;
	color:#313131;
}
.post_meta, .news {
	color:#9d9d9d;
	font-style:italic;
	padding-bottom:8px;
}
.post_meta span {padding:0 7px;
}
.post_meta a, .news a {
	color:#9d9d9d;
	font-style:italic;
} 
.post_meta a:hover, .news a:hover {
	color:goldenrod;
	text-decoration:none;
} 
.arrow_link {
	font-style:italic;
	color:goldenrod;
}
.arrow_link:hover {
	text-decoration:none;
	color:#1e1e1e;	
}
.block:last-child {padding-bottom:0;
}
.block ul, .follow_us ul {
	padding:0;
	margin:0;
	list-style:none;
}
.block li {
	padding:0;
	margin:0;
}

#footer {
    border-top:5px palegoldenrod solid;
}
.copyright {
    color:lightgrey;
    font-family:Arial;
    font-size:10px;
}

.breadcrumb {
  padding: 19px 0;
  margin: 0 0 20px 0;
  list-style: none;
  background:#d1d1d1;
  color:goldenrod;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}
.breadcrumb span {
  color:#1e1e1e;
  padding:0 5px;
}
.breadcrumb a {
  color:#1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}
.profile {text-align:center;
}
.profile_title {
	font-size: 14px;
    margin-bottom:5px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#3a3a3a;
}
.profile img {
	margin:10px auto 15px auto;
	width:169px;
	border-radius:3px;
}
legend {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.element {
  overflow: hidden;
  position: relative;
  margin-bottom:20px;
}
.element img {max-width:100%;
}

#options {padding:0 0 10px 0;
}
#filters {
	position: relative;
	padding:0;
	margin:25px 0 0 0;
}
#filters li {
	display: block;
	margin:0 10px 10px 0;
	float: left; 
	padding:0;
	list-style:none;
}
#filters li a.selected {
	color: #fff;
	background:goldenrod;
	text-decoration:none;
}
.preloader {
	background:url(../img/preload_img.gif) center center no-repeat;
	display:block;
}

.pad25 { padding-top:25px;
}
.pad5 { padding-top:5px;
}
.marg20 { margin-top:20px !important;
}

.post {padding-bottom:40px;
}
.post h2.title {margin-bottom:21px;
}

ul.links {margin-bottom:15px;
}
ul.links li {
	padding:0 0 3px 17px;
	margin:0;
	color:#313131;
	background:url(../img/li_arrow.png) no-repeat left top;
}
ul.links li a {	color:#313131;
}
ul.links li a:hover {color:goldenrod;
} 

.post img {
	margin-bottom:18px;
	max-width:100%;
}

.post_info {
	padding:5px 0;
	border-bottom:1px #dadada dotted;
	border-top:1px #dadada dotted;
	margin-bottom:12px;
	color:#313131;
}
.post_info span {color:goldenrod;
}
.post img {border-radius:3px;
}
.sidebar { padding-top:9px;
}
.sidebar .tweet_arrows {display:none;
}
.widget { margin-bottom:25px;
}
.sidebar h2.title {
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:18px;
}
ul.recent_post, ul.tweets, ul.links {
	padding:0;
	margin:0;
	list-style:none;
}
ul.recent_post li {
	padding:0 0 8px 0;
	margin-bottom:13px;
	border-bottom:1px #dadada dotted;
	color:#313131;
}
ul.recent_post li:last-child {
	border-bottom:0;
	margin-bottom:18px;
}
ul.recent_post li img {
	float:left;
	margin-right:15px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
ul.recent_post div {padding:3px 0 2px 0;
}
ul.recent_post div a {color:#313131;
}
ul.recent_post div a:hover {color:goldenrod;
}

#map {
	margin:0 0 15px 0;
	padding-top:6px;
}
.contact_form { padding-top:6px;
}
.contact_form textarea { min-height:260px !important;
}
.notification_error {
	color: #b94a48;
	background-color: #f2dede;
	border:1px #eed3d7 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: left;
}
.notification_ok {
    color: #3a87ad;
	background-color: #d9edf7;
	border:1px #bce8f1 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: center;
}
